@mixin media-queries;

.wrapper {
  font-size: 0.6875rem;
  line-height: 1.5rem;
  margin: 0 0 2rem;

  @media (--large-viewport) {
    line-height: 1.25rem;
    margin: 0 0 1rem;
  }

  @media (--medium-viewport) {
    line-height: 1.25rem;
    margin: 0 0 1rem;
  }

  @media (--small-viewport) {
    line-height: 1.25rem;
    margin: 0 0 1rem;
  }

  @media (--extraSmall-viewport) {
    line-height: 1.25rem;
    margin: 0 0 1rem;
  }

  & p {
    margin: 0;
  }

  & a {
    display: block;
    color: var(--black);
    text-decoration: none;

    & span {
      display: block;
    }

    &:hover {
      text-decoration: underline;
    }
  }
}

.name {
  color: var(--gray);
}
