:root {
  --black: #000;
  --gray: #717171;
  --white: #FFF;
  --default-font-family: 'Helvetica LT W01 Roman';
  --default-font-family--light: 'Helvetica LT W01 Light';
  --default-max-width--extraLarge: 1440px;
  --default-max-width--large: 1280px;
  --default-max-width--medium: 1024px;
}
