@mixin media-queries;

.wrapper {
  position: relative;
  font-family: var(--default-font-family--light);
  font-size: 1.75rem;
  line-height: 2.25rem;
  letter-spacing: 0.375rem;
  padding-bottom: 0.25rem;
  z-index: 100;

  @media (--medium-viewport) {
    font-size: 1.125rem;
    line-height: 1.5rem;
    letter-spacing: 0.25rem;
  }

  & span {
    display: block;
  }
}
