:root {
  --gutter-width: 1.5rem;
}

@custom-media --smallGlobal-viewport (width < 1024px);

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  min-height: 100vh;
}

body.fontLoadedHelvetica55 {
  font-family: var(--default-font-family), Helvetica, Arial, sans-serif;
}

:global(#app) {
  background-color: var(--white);
  min-height: 100vh;
  min-width: 100%;
}

.wrapper {
  padding: 0 var(--gutter-width);
  min-height: 100vh;

  @media(--smallGlobal-viewport) {
    padding: 0;
  }
}

.logo {
  width: 100%;
  margin: 0 auto;
  display: block;
}
