:root {
  --gutter-width: 20px;
}

@mixin media-queries;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  min-height: 100vh;
  min-width: 320px;
}

body.fontLoadedHelvetica55 {
  font-family: var(--default-font-family), Helvetica, Arial, sans-serif;
}

:global(#app) {
  background-color: var(--white);
  min-height: 100vh;
  min-width: 100%;
}

.wrapper {
  min-height: 100vh;
  width: var(--default-max-width--extraLarge);
  margin: 0 auto;

  @media (--large-viewport) {
    width: var(--default-max-width--large);
  }

  @media (--medium-viewport) {
    width: var(--default-max-width--medium);
  }

  @media (--small-viewport) {
    width: 100%;
  }

  @media (--extraSmall-viewport) {
    width: 100%;
  }
}
